<link rel="stylesheet" href="/css/posts.css">
<br>

<div class="replies">
    <li class="reply">
        <p>
            <% if (locals.user && locals.user.id == comment.user.id) { %>
            <small>
                <a class="delete-post-button" href="/comments/destroy/<%= comment.id %>">Delete</a>
            </small>
            <% } %>
            <%= comment.content %>
            <br>
            <small class="postby">
              <br>Replied by:  <%= comment.user.name %>
            </small>
        </p>
    </li>
</div>
