<link rel="stylesheet" href="/css/header.css">

<header>
    <div class="logo">
        <h4>MyHood</h4>
        <ul class="headerList">
            <% if (locals.user) { %>
            <li>
                <a href="/users/sign-out">
                    <button>Sign out</button>
                </a>
            </li>
            <% }else { %>
            <li>
                <a href="/users/sign-in">
                    <button>Sign In</button>
                </a>
            </li>
            <li>
                <a href="/users/sign-up">
                    <button>Sign Up</button>
                </a>
            </li>
            <% } %>
        </ul>
    </div>
    
</header>