<h1>Welcome to the hood</h1>

<section id="feed-posts">
    <h4>Posts</h4>
    <form action="" id="new-post-form" method="POST">
        <textarea name="content" cols="30" rows="3" placeholder="Type here"></textarea>
        <input type="submit" value="post">
    </form>
</section>