<link rel="stylesheet" href="/css/home.css">

<h1>Welcome to the Myhood</h1>
<h4 class="ask">Here you can ask for help from your neighbouring community members for any emergency or urgent need!!!</h4>

<div id="home-container">
    <section id="feed-posts" class="posts">
        <h4>Posts Your need / Reply to the urgent needs of you neighbours</h4>
        <% if(locals.user) { %>
        <form action="/posts/create" id="new-post-form" method="POST">
            <textarea class="textarea" name="content" cols="30" rows="3" placeholder="Type here"></textarea>
            <input class="create" type="submit" value="Post">
        </form>
        <% } %>
        <div id="posts-list-container">
            <ul class="post">
                <% for(post of posts) { %>
                <%- include('_post') -%>
                <% } %>
            </ul>
        </div>
    </section>

    <section id="user-friends" class="friends">
        <h4>Community Members</h4>
        <% for(u of all_users) { %>
        <p>
            <a href="/users/profile/<%= u.id %>"><%= u.name %></a>
        </p>
        <% } %>
    </section>
</div>
<script src="/js/home_posts.js"></script>