<link rel="stylesheet" href="/css/signup.css">
<div class="main">
    <h1 class="heading">Welcome to MyHood</h1>
    <h1 class="signup">Sign In</h1>
    
    
    <form action="/users/create-session" method="POST">
        <input type="email" name="email" placeholder="Your Email" required>
        <input type="password" name='password' placeholder="Your Password" required>
        <input type="submit" value="Sign In" class="submit">
    </form>
</div>
