body{
    margin:0;
    height: 100%;
    width: 100%;
        
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(50,44,248,1) 49%, rgba(152,92,249,1) 100%);
    color: rgb(0, 0, 0);
   position: relative;

   .minus-header{
    position: relative;
    top:50px;
   
   }
//    #header{
//        z-index: 1;
//    }
    #main-body{
        
        margin: 0;
        position: relative;
        min-height: 100%;
        height:fit-content;
        margin-bottom: 20px;
        padding-left: 0;
    }
}
