
main{

    height: 100%;
    font-family: sans-serif;
    
    #page-heading{

        font-size: 2rem;
        color: white;
    
    }

    #user-name , #user-email{
        font-size: 1.5rem;
        color: whitesmoke;
    }
}

