@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

body{
    background-color: skyblue;
}
.heading{
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
    margin-top: -20px;
}

input{
    display: block;
    padding: 7px;
    margin: 5px;
    width: 100%;

}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.submit{
    margin-left: 7%;
    border: 1px solid blue;
    background-color: rgb(94, 83, 238);
    color: black;
    cursor: pointer;
}

.submit:hover{
    background-color: rgb(51, 37, 241);;
}